name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Format
      run: cargo fmt --check --verbose


  clippy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Clippy
      run: cargo clippy --all-features --all-targets

  tests:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Miri
      run: |
        rustup toolchain install nightly --component miri
        cargo +nightly miri setup

    - name: Tests
      run: cargo test --verbose
    - name: Miri
      run: cargo +nightly miri test --verbose

  coverage:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install `llvm-cov`
      uses: taiki-e/install-action@cargo-llvm-cov
    - name: Coverage
      run: |
        cargo llvm-cov --no-report
        cargo llvm-cov report --lcov --output-path lcov.info
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4.0.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: lcov.info
        fail_ci_if_error: false
        slug: thvdveld/dot15d4
  
  ensure-no-std-compatible:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install a no_std target
      run: rustup target add thumbv7em-none-eabi
    - name: Check if it is buildable with a no_std target
      working-directory: ./ensure-no-std
      run: cargo build --target thumbv7em-none-eabi
